.pollCard {
	padding: 2.4rem;
	padding-bottom: 4.2rem;
	border: 1px solid rgba(0, 145, 255, 0.2);
	border-radius: 1.6rem;
	display: flex;
	flex-direction: column;
	box-shadow: inset 0 -6px 6px 0 rgba(0, 144, 255, 0.5);

	&__question {
		font-size: 2.4rem;
		font-weight: 700;
		color: black;
		line-height: 150%;
		width: 100%;
		text-align: left;
		margin-bottom: 2.4rem;
	}

	&__alternative {
		position: relative;
		width: 100%;
		border: 1px solid rgba(0, 149, 255, 0.4);
		border-radius: 1000px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0.6rem 0.8rem;
		padding-left: 1.6rem;
		overflow: hidden;

		&:not(:last-child) {
			margin-bottom: 1rem;
		}

		&--description {
			font-size: 1.4rem;
			font-weight: 500;
			color: black;
			line-height: 150%;
		}

		&--filler {
			position: absolute;
			top: 0;
			right: 100%;
			height: 100%;
			width: 100%;
			border-radius: 1000px;
			background-color: rgba(0, 149, 255, 0.2);
			z-index: -1;

			&.dominant {
				background-color: rgba(0, 145, 255, 0.6);
			}
		}
	}
}
