.pageHeader {
	display: grid;
	grid-template-columns: 1fr min-content;
	align-items: center;
	margin-top: 4rem;
	margin-bottom: 3rem;

	&__title {
		font-size: 5.2rem;
		font-weight: 700;
		letter-spacing: -1px;
		line-height: 100%;
		color: white;
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
		justify-self: flex-start;
	}
}

.burgerBtn {
	width: 5rem;
	height: 5rem;
	border: 1px solid rgba(0, 144, 255, 0.2);
	border-radius: 1000px;
	background-color: white;
	box-shadow: 0 5px 10px 0 rgba(0, 144, 255, 0.25);
	cursor: pointer;
	justify-self: flex-end;

	display: flex;
	align-items: center;
	justify-content: center;

	transition: all 0.2s;

	&:hover {
		box-shadow: 0 6px 12px 0 rgba(0, 144, 255, 0.35);
		transform: translateY(-1px);
	}
	&:active {
		box-shadow: 0 3px 6px 0 rgba(0, 144, 255, 0.15);
		transform: translateY(1px);
	}

	&__line {
		position: relative;
	}

	&__line,
	&__line::before,
	&__line::after {
		width: 2.4rem;
		height: 0.3rem;
		background-color: rgba(0, 145, 255, 0.67);
		border-radius: 1000px;
	}

	&__line::before,
	&__line::after {
		content: '';
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	&__line::before {
		top: -6px;
	}
	&__line::after {
		top: 6px;
	}
}
