.icon {
	&--xs {
		width: 3rem;
		height: auto;
	}
	&--sm {
		width: 4rem;
		height: auto;
	}
	&--md {
		width: 5rem;
		height: auto;
	}
	&--lg {
		width: 7rem;
		height: auto;
	}
	&--xl {
		width: 10rem;
		height: auto;
	}
	&--xxl {
		width: 15rem;
		height: auto;
	}

	&--fill-white {
		path {
			fill: var(--c-white);
		}
	}
	&--fill-light {
		path {
			fill: var(--c-light);
		}
	}
	&--fill-dark {
		path {
			fill: var(--c-dark);
		}
	}
	&--fill-black {
		path {
			fill: var(--c-black);
		}
	}
	&--fill-primary {
		path {
			fill: var(--c-primary);
		}
	}
	&--fill-secondary {
		path {
			fill: var(--c-secondary);
		}
	}
	&--fill-pink {
		path {
			fill: var(--c-pink);
		}
	}
	&--fill-pink-light {
		path {
			fill: var(--c-pink--light);
		}
	}

	&--stroke-white {
		path {
			stroke: var(--c-white);
		}
	}
	&--stroke-light {
		path {
			stroke: var(--c-light);
		}
	}
	&--stroke-dark {
		path {
			stroke: var(--c-dark);
		}
	}
	&--stroke-black {
		path {
			stroke: var(--c-dark);
		}
	}
	&--stroke-primary {
		path {
			stroke: var(--c-primary);
		}
	}
	&--stroke-secondary {
		path {
			stroke: var(--c-secondary);
		}
	}
	&--write-dark {
		path:first-child {
			stroke: var(--c-dark);
		}
		path:last-child {
			fill: var(--c-dark);
		}
	}
	&--write-secondary {
		path:first-child {
			stroke: var(--c-secondary);
		}
		path:last-child {
			fill: var(--c-secondary);
		}
	}

	&--with-container {
		padding: 1rem;

		&--square {
			border-radius: 1rem;
		}

		&--circle {
			border-radius: 1000px;
		}

		&--white {
			background-color: var(--c-white);
		}
		&--border {
			border: 1px solid black;
		}
	}
}

.iconBg {
	&--white {
		padding: 1rem;
		background-color: var(--c-white);
	}

	&--round {
		padding: 1rem;
		border-radius: 1000px;
	}

	&--square {
		padding: 1rem;
		border-radius: 1rem;
	}
}

.iconBgBorder {
	&--dark-1 {
		border: 1px solid var(--c-dark);
	}
	&--dark-2 {
		border: 2px solid var(--c-dark);
	}
	&--dark-3 {
		border: 3px solid var(--c-dark);
	}
}
