.cardListContainer {
	margin-bottom: 3.6rem;
	width: 100%;
}

.cardList {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	list-style: none;

	&__header {
		font-size: 1.6rem;
		font-weight: 400;
		color: black;
		text-align: left;
		width: 100%;
		margin-top: 2rem;
		margin-bottom: 1rem;
	}
}
